main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  position: relative;
}

.box {
  width: 150px;
  height: 150px;
  transition: 500ms;
  border: 1px solid black;
}

.box-1 {
  background-color: steelblue;
}

.container:hover .box-1 {
  transform: translateX(-100%) rotate(90deg);
}

.box-2 {
  background-color: dimgray;
}

.container:hover .box-2 {
  transform: translateX(100%) rotate(-90deg);
}

.box-3 {
  background-color: rosybrown;
}

.container:hover .box-3 {
  transform: translateX(-100%) rotate(-90deg);
}

.box-4 {
  background-color: yellow;
}

.container:hover .box-4 {
  transform: translateX(100%) rotate(90deg);
}

#quote-container {
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  top: 0;
  left: 20px;
  right: 0;
}

.author {
    font-style:italic;
}

.quote {
    font-size: 20px;
}